/* store.css */
.all {
  float: right;
  /* flex-wrap: wrap; */
  width: 30%;
  height: 100%;
}

.stor {
  margin-bottom: 20px;
  font-size: 60px;
}

.fle {
  display: flex;
}

.storeImg {
  align-items: center;
  margin-bottom: 5%;
  margin: 2%;
  margin-right: 15px;
  position: relative;
}

.storeImg img {
  width: 750px;
  height: 1100px;
  border: 1px solid #070707;
  border-radius: 14%;
  text-align: center;
}

.storeName {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 10px;
  background: white;
  text-align: center;
  width: 95%;
  border-radius: 20px;
  height: 70px;
}

.storeName h1 {
  margin-bottom: 5px;
  margin-left: 55px;
  font-size: 35px;
  text-align: center;
}

.storeName img {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  border-radius: 50%;
}

.Suggestions {
  margin-bottom: 20px;
  font-size: 60px;
}

.Suggestion {
  display: flex;
  align-items: center;
  margin-top: 9%;
  margin-left: 20px;
  text-align: center;
  font-size: 500px;
}

.Suggestion img {
  position: absolute;
  transform: translateY(-50%);
  width: 5%;
  height: 8%;
  border-radius: 50%;
  margin-top: 4%;
}

.Suggestion h1 {
  margin-left: 40%;
  font-size: 12%;
  width: 40%;
  display: flex;
}

.Suggestion button {
  margin-left: 20%;
  font-size: 26px;
  background: #070707;
  border-radius: 20px;
  color: aliceblue;
  width: 700px;
  height: 67px;
  float: right;
}







@media screen and (max-width: 2900px) {

/* store.css */
.all {
  float: right;
  /* flex-wrap: wrap; */
  width: 30%;
  height: 100%;
}

.stor {
  margin-bottom: 20px;
  font-size: 60px;
}

.fle {
  display: flex;
}

.storeImg {
  align-items: center;
  margin-bottom: 5%;
  margin: 2%;
  margin-right: 15px;
  position: relative;
}

.storeImg img {
  width: 750px;
  height: 800px;
  border: 1px solid #070707;
  border-radius: 14%;
  text-align: center;
}

.storeName {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 10px;
  background: white;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}

.storeName h1 {
  margin-bottom: 5px;
  margin-left: 55px;
  font-size: 35px;
  text-align: center;
}

.storeName img {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 20%;
  height: 100%;
  border-radius: 50%;
}

.Suggestions {
  margin-bottom: 20px;
  font-size: 60px;
}

.Suggestion {
  display: flex;
  align-items: center;
  margin-top: 9%;
  margin-left: 20px;
  text-align: center;
  font-size: 500px;
}

.Suggestion img {
  position: absolute;
  transform: translateY(-50%);
  width: 5%;
  height: 8%;
  border-radius: 50%;
  margin-top: 4%;
}

.Suggestion h1 {
  margin-left: 20%;
  font-size: 12%;
  width: 40%;
  display: flex;
}

.Suggestion button {
  margin-left: 10%;
  font-size: 26px;
  background: #070707;
  border-radius: 20px;
  color: aliceblue;
  width: 200px;
  height: 67px;
  float: left;
}

}